<script type="text/javascript">

$(document).ready(function(){
  // initialize();
  var yelp = $.parseJSON(<%= @a.to_json.html_safe %>);
  alert(yelp[0].distance)

});
</script>

<p><%= @a.to_json %> </p>